# Object files
*.o
*.ko
*.obj
*.elf


# Precompiled Headers
*.gch
*.pch

# Executables
# Pasta de build
build/
bin/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# debug information files
*.dwo

# VS Code workspace
.code-workspace*
.vscode/

# clang format
.clang-format*

